# This file contains an example configuration with RPi as secondary mcu

# See docs/Config_Reference.md for a description of parameters.

# The rpi microcontroller is used as secondary.
# Typically, both the X and Y axes
# are connected to the main micro-controller. The rpi microcontroller is used
# on non time-critical functions such as enclosure sensors, additional fan or
# light sources
#[mcu host]
[mcu rpi]
serial: /tmp/klipper_host_mcu


# [output_pin pwm0]          # Currently Configured to GPIO Pin 20 
# pin: rpi:pwmchip0/pwm0
# pwm: True
# hardware_pwm: True
# cycle_time: 0.000001


# [output_pin pwm1]          # Currently Configured to GPIO Pin 13
# pin: host:pwmchip0/pwm1
# pwm: True
# hardware_pwm: True
# value: 0
# shutdown_value: 0
# cycle_time: 0.0005